*{
    padding: 0%;
    margin: 0%;
}
 
.container{
    text-align: center;
    font-size: 18px;
    color: white;
}

.one{
    background: brown;
}
.two{
    background: cornflowerblue;
}
#content{
    color: cornflowerblue;
}
